.mianguest {
  display: flex;
  background: #093959;
  color: white;
  padding-bottom: 1%;
  /* padding-top: 5%; */
  height: 45rem;
}
.left {
  width: 50%;
  padding-top: 6%;
  padding-left: 6%;
}
.left h1 {
  font-size: 30px;
  font-weight: 600;
}

.left button {
  background: #ff6900;
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 1%;
  padding-left: 4%;
  padding-right: 4%;
  margin-top: 5%;
  border-radius: 5px;
}
.right {
  width: 50%;
  padding: 6%;
}

.divmainlogin {
  width: 23rem;
  height: 35rem;
  /* background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px; */
  padding-bottom: 1rem;
  position: relative;
}
.printhostelmain {
  padding: 0.5rem;
}

.divmainlogin h1 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
.selectbtn {
  display: flex;
  justify-content: space-between;
  padding: 4%;
}
.btnActive {
  width: 143px;
  height: 35px;
  border-radius: 7px;
  color: white;
  background: #093959;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnActive:hover {
  width: 143px;
  height: 35px;
  border-radius: 7px;
  color: white;
  background: #0c4367;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btndeActive {
  width: 143px;
  height: 35px;
  border-radius: 7px;
  border: 1px solid #093959;
  color: #093959;
  background: rgba(248, 247, 252, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputdiv {
  display: flex;
  flex-direction: column;
  padding-left: 3.2%;
  padding-right: 3.2%;
  margin-bottom: 1rem;
  position: relative;
}
.inputdiv label {
  margin-bottom: 1%;
}
.inputdiv input {
  border: 0.8px solid rgb(66, 66, 66);
  width: 100%;
  height: 35px;
  padding-left: 1rem;
  border-radius: 5px;
}
.inputdiv input:focus {
  outline: none;
  border: 2px solid #093959;
}

.inputdiv select {
  border: 0.8px solid rgb(66, 66, 66);
  width: 100%;
  padding-left: 1rem;
  border-radius: 10px;
}
.inputdiv select:focus {
  outline: none;
  border: 2px solid #093959;
}
.inputdiv10 {
  display: flex;
  flex-direction: column;
  padding-left: 3.2%;
  padding-right: 3.2%;
  margin-bottom: 1rem;
}
.inputdiv10 select {
  border: 0.8px solid rgb(66, 66, 66);
  width: 100%;
  padding-left: 1rem;
  border-radius: 10px;
}
.inputdiv10 select:focus {
  outline: none;
  border: 2px solid #093959;
}
.showpassbtn {
  position: absolute;
  top: 45%;
  left: 84%;
  list-style: none;
}

.logbtnstyle {
  width: 100%;
  height: 35px;
  background: #093959;
  color: white;
  border-radius: 7px;
}
.optionDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1%;
  padding-right: 1%;
}
.optionbtn {
  width: 20%;
  height: 35px;
  background: #093959;
  color: white;
  border-radius: 7px;
  margin-bottom: 1rem;
}
.logbtnstylediv {
  padding-left: 3.2%;
  padding-right: 3.2%;
}
.logbtnstyledivcreate {
  padding-left: 3.2%;
  padding-right: 3.2%;
  margin-top: 2%;
}
.logbtnstyledivcreate button {
  width: 100%;
  height: 35px;
  color: #093959;
  border-radius: 7px;
  background: #edeef2;
  border: 1px solid #093959;
}

.forgottextdiv h2 {
  text-align: right;
  padding-right: 3.2%;
  color: #093959;
  font-size: 16px;
}
.closeicondiv {
  display: flex;
  justify-content: right;
  padding-right: 2%;
  padding-top: 2%;
  cursor: pointer;
}

.closeicondivauth {
  display: flex;
  justify-content: right;
  padding-right: 2%;
  padding-top: 2%;
  cursor: pointer;
  position: absolute;
  background: #ff6900;
  padding: 1%;
  border-radius: 24px;
  left: 99%;
  bottom: 99%;
}

.phonebutton {
  display: none;
}

.mainborderdivinnear {
  width: 100%;
  /* background-color: aquamarine; */
}
.mainborderdivinnear10 {
  width: 100%;
  /* background-color: aquamarine; */
  border-bottom: 3px dotted black;
}
.addpaddinreceipt {
  padding: 1%;
}
.mainContainerreceipt {
  padding: 1rem;
}

.addpaddinreceipt10 {
  padding: 1%;
}
.mainborderdiv {
  border: 2px solid black;
}
.mainimgdivre {
  display: flex;
}
.imgdivre {
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.showfathersname {
  margin-right: 1rem;
}
.showfathersnamelabel {
  margin-left: 1rem;
}

.imgdivre img {
  width: 7.1rem;
  height: 7.1rem;
  border-radius: 48%;
}
.imgdivreimgprofile {
  width: 7.1rem !important;
  height: 7.1rem !important;
  border-radius: 1% !important;
  border: 1px solid black;
}
.imgdivre h2 {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 20px;
  font-family: Helvetica;
  color: red;
}
.imgdivre p {
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: Helvetica;
}
.receiptNodiv {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-around;
}

.mainfeedetails {
  display: flex;

  padding: 0.9rem;
}
.mainfeedetailsinnear {
  width: 50%;
}

.textdivonly {
  display: flex;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  justify-content: space-between;
}
.textdivonly10 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.welcomicondiv {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-top: 4%;
}

/* contact detail */
.contactDetail {
  display: flex;
  background-color: #044e7c;
  justify-content: space-between;
  padding: 2rem 5rem;
  color: #fff;
  cursor: pointer;
  align-items: flex-start;
}
.mailContact {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.contectText p {
  font-weight: bold;
  font-size: 20px;
  color: hsla(0, 0%, 100%, 0.64);
}
.contectNumber p {
  font-weight: bold;
  font-size: 20px;
  color: #fff;
}
.contactImage {
  background-color: #fff;
  padding: 0.5rem 0.5rem;
  align-items: center;
  border-radius: 50%;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}
.contactImage img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.transtextmain {
  display: flex;
  justify-content: center;
  align-items: center;
}
.transtextInnear {
  background-color: #044e7c;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 5px;
}
.transtextInnear p {
  color: yellow;
  font-weight: 500;
  font-family: Helvetica;
}
.maincontenttc {
  display: flex;
  padding-left: 11%;
  padding-right: 11%;
  justify-content: space-between;
}
.TCPoints {
  font-family: Helvetica;
}
.signaturemain {
  display: flex;
  justify-content: space-between;
  padding-left: 11%;
  padding-right: 11%;
  padding-top: 10%;
}
.signaturemainInnear {
  border-top: 2px solid #044e7c;
}
.TCMain {
  padding-top: 4%;
  border: 2px solid black;
}
.coachingtextaddress {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 3%;
}
.coachingtextaddress p{
  line-height: 3rem;
}
.TCMainTop {
  padding: 1%;
}
.dynamictext {
  font-weight: 500;
  padding-left: 1%;
  padding-right: 1%;
}
.actionbtn{
  background:#ffae01 ;
  width: 15%;
  height: 35px;
  color: white;
  border-radius: 7px;
  margin-bottom: 0.2rem;
  margin-top: 0.4rem;
}
.actionbtn:hover{
  background:#093959 ;
  width: 15%;
  height: 35px;
  color: white;
  border-radius: 7px;
  margin-bottom: 0.2rem;
  margin-top: 0.4rem;
}

@media screen and (max-width: 780px) {
  .closeicondivauth {
    left: 95%;
    bottom: 99%;
  }
  .closeicondiv {
    left: 92%;
    bottom: 99%;
  }
  .mainfeedetailsinnear {
    width: 100%;
  }
  .mainfeedetails {
    display: block;
    justify-content: space-between;

    padding: 0.9rem;
  }
  .mainimgdivre {
    display: flex;
    flex-direction: column;
  }
  .imgdivre {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .imgdivre img {
    width: 7.1rem;
    height: 7.1rem;
  }
  .optionDiv {
    display: block;
  }
  .optionbtn {
    width: 100%;
    height: 35px;
    background: #093959;
    color: white;
    border-radius: 7px;
    margin-bottom: 0.2rem;
    margin-top: 0.4rem;
  }

  .addpaddinreceipt {
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 1%;
  }
  .showpassbtn {
    position: absolute;
    top: 45%;
    left: 84%;
    list-style: none;
  }
  .phonebutton {
    background: #ff6900;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 1%;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 1%;
    border-radius: 5px;
    display: block;
    margin-left: 3%;
  }

  .mianguest {
    display: block;
    width: 100%;
    /* padding-top: 3.5rem; */
    height: auto;
    padding-bottom: 4%;
  }

  .left {
    width: 100%;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
  }
  .left h1 {
    font-size: 18px;
    font-weight: 600;
  }

  .right {
    width: 100%;
    padding: 3%;
  }

  .left button {
    display: none;
  }

  .divmainlogin {
    width: 20rem;
    height: auto;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    padding-bottom: 1rem;
  }

  .btnActive {
    /* width: auto;
    height: 35px; */
    border-radius: 7px;
    color: white;
    background: #093959;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4rem;
  }

  /* .btnActive:hover {
    width: auto;
    height: 35px;
    border-radius: 7px;
    color: white;
    background: #0c4367;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4rem;
  } */

  .btndeActive {
    /* width: auto;
    height: 35px; */
    border-radius: 7px;
    border: 1px solid #093959;
    color: #093959;
    background: rgba(248, 247, 252, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4rem;
  }
  .selectbtn {
    padding: 0%;
    padding-left: 1%;
    padding-right: 1%;
    width: 100%;
  }
  .contactDetail {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1rem;
  }
  .gapColum {
    display: block;
  }
}
