.maincontecentReg {
  display: flex;
  justify-content: space-between;
}

.positionrelative {
  position: relative;
}
.innearAbsolute {
  position: absolute;
  width: 100%;
  height: 42.3rem;
}

.innearAbsolute img {
  height: 42.3rem;
  width: 100%;
}
.verifybtn {
  background: #ff6900;
  color: white;
  width: 100%;
  border-radius: 5px;
  height: 35px;
}
.verifybtntop {
  background: #ff6900;
  color: white;
  margin-top: 5%;
  border-radius: 5px;
  width: 100%;
  border-radius: 5px;
  height: 35px;
}

.verifybtndisable {
  background: #f5ab76;
  color: white;
  width: 100%;
  border-radius: 5px;
  height: 35px;
}
.verifybtntopdisable {
  background: #f5ab76;
  color: white;
  margin-top: 5%;
  border-radius: 5px;
  width: 100%;
  border-radius: 5px;
  height: 35px;
}

.timmeerdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.upAbsolute {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 8.5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divmainlogin {
  width: 100%;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.divmaininput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.divmainlogin h1 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.logbtnstyle {
  width: 50%;
  height: 35px;
  background: #093959;
  color: white;
  border-radius: 7px;
}
.logbtnstyledisable {
  width: 50%;
  height: 35px;
  background: #a8cae0;
  color: white;
  border-radius: 7px;
}
.completetext {
  text-align: center;
  margin-bottom: 1rem;
}

.inputdiv {
  display: flex;
  flex-direction: column;
  width: 32%;
}
.inputdiv80 {
  margin-top: 1rem;
}
.inputdiv label {
  margin-bottom: 1%;
  margin-bottom: 1%;
}
.inputdiv select {
  border: 0.8px solid rgb(66, 66, 66);
  width: 12.7rem;
  height: 35px;
  padding-left: 1rem;
  border-radius: 5px;
}
.inputdiv input {
  border: 0.8px solid rgb(66, 66, 66);
  width: 18.7rem;
  height: 35px;
  padding-left: 1rem;
  border-radius: 5px;
}
.inputdiv input:focus {
  outline: none;
  border: 2px solid #093959;
}

.inputdiv20 {
  display: flex;
  flex-direction: column;
}
.inputdiv20 label {
  margin-bottom: 1%;
  margin-bottom: 1%;
}
.inputdiv20 input {
  border: 0.8px solid rgb(66, 66, 66);
  width: 18.7rem;
  height: 35px;
  padding-left: 1rem;
  border-radius: 5px;
}
.inputdiv20 input:focus {
  outline: none;
  border: 2px solid #093959;
}

.inputdiv10 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.inputdiv10 label {
  margin-bottom: 1%;
}

.selecttimemain {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.selectinnear {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
.selectinnearinput {
  border: 1px solid #093959;
  border-radius: 5px;
  padding-left: 0.1rem;
}
.selectinnear select {
  border: 1px solid #093959;
  border-radius: 5px;
}

.inputdivaddred {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputdivaddred label {
  margin-bottom: 1%;
}
.inputdivaddred input {
  border: 0.8px solid rgb(66, 66, 66);
  width: 100%;
  height: 35px;
  padding-left: 1rem;
  border-radius: 5px;
}
.inputdivaddredinput:focus {
  outline: none;
  border: 2px solid #093959;
}
.inputdiv select {
  border: 0.8px solid rgb(66, 66, 66);
  width: 100%;
  padding-left: 1rem;
  border-radius: 10px;
}
.headingdivicon {
  border-bottom: 4px solid #093959;
  margin-bottom: 1%;
}
.inputdiv select:focus {
  outline: none;
  border: 2px solid #093959;
}

.logbtnstylediv {
  padding-left: 3.2%;
  padding-right: 3.2%;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profilediv {
  margin-top: 3%;
}

.logbtnstyledivcreate {
  padding-left: 3.2%;
  padding-right: 3.2%;
  margin-top: 8%;
}

.forgottext {
  text-align: right;
  padding-right: 3.2%;
  color: #093959;
}

.closeicondiv {
  display: flex;
  justify-content: right;
  padding-right: 2%;
  padding-top: 2%;
  cursor: pointer;
}
.mainper {
  color: green;
  font-weight: 600;
}
.marginper {
  padding-left: 0.8rem;
}
.mainperdiv {
  border: 1px solid #093959;
  height: 8rem;
  padding: 0.2rem;
  border-radius: 8px;
  width: 10rem;
  margin: 0.1rem;
}
.cancelbtn {
  width: 13%;
  height: 35px;
  background: #093959;
  color: white;
  border-radius: 7px;
  margin-right: 1rem;
}
.showdetails {
  width: 50%;
  height: 35px;
  background: #093959;
  color: white;
  border-radius: 7px;
  margin-left: 1rem;
}
.mainbtnndivcancel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}
.divmaininputfeediv {
  display: flex;
  padding-bottom: 1rem;
}
.tablecontainer {
  overflow-x: auto;
  /* padding: 10px;
      margin: 10px; */
}
.tablecontainer10 {
  overflow-x: auto;
  /* padding: 10px;
      margin: 10px; */
  margin-bottom: "2rem" !important;
  display: flex;
  justify-content: center;
}

.add_divmarginn10 {
  padding: 0.5rem;
  width: 100%;
  overflow-x: scroll;
}
.tabletd,
.tableth {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
.mainfeedetails {
  display: flex;
  justify-content: space-between;
}
.addpaymaingintable {
  margin-bottom: 0.8rem;
  margin-top: 0.8rem;
}
.inputdivpay {
  text-align: center;
}
.hightlighttext {
  background-color: #ff6900;
  color: white;
  padding-left: 0.1rem;
  text-align: center;
}

.topminaquestiondiv {
  margin-bottom: 1rem;
}
.QDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 1%;
}
.QDiv input {
  border: 1px solid #093959;
  border-radius: 5px;
  padding-left: 0.5rem;
  height: 35px !important;
}

.quinnear p {
  background-color: seagreen;
  color: white;
  padding: 0.2rem;
  margin-bottom: 0.4rem;
  border-radius: 5px;
}
.mainqinput {
  border: 0.8px solid rgb(66, 66, 66) !important;
  width: 18.3rem !important;
  height: 35px !important;
  padding-left: 1rem !important;
  border-radius: 5px !important;
}
.optiondiv {
  display: flex;
}
.addoptiondiv {
  display: flex;
  justify-content: space-between;
}

.radiodiv {
  width: 4rem;
}
.deletediv {
  display: flex;
  justify-content: space-between;
}
.deletediv10 {
  display: flex;
  justify-content: space-between;
}
.childdetails {
  background: tomato;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.15);
  color: white;
  padding: 1rem;
}
.answericon {
  width: 25px;
  height: 25px;
}
.cloceiconright {
  display: flex;
  justify-content: right;
}
.maincontentdivshado {
  width: 70%;
  background: #ffffff;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 1rem;
}

.divcenter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.feedeltext {
  font-size: 20px;
  text-align: center;
}

.McsQuestionss {
  padding: 1rem;
  padding-left: 20%;
  padding-right: 20%;
}

.startbtndiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexaddDiv {
  display: flex;
}
.regisFeepayDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}
.regisFeepayDivinnear {
  display: flex;
  width: 5rem;
  justify-content: space-evenly;
  margin-right: 2rem;
  margin-left: 2rem;
}
.mainemployeeInfodivinnear {
  border: 1px solid black;
  padding: 1%;
  margin: 1%;
}
.mainemployeeInfodiv {
  display: flex;
  justify-content: space-between;
}
.divmaininputradiodiv {
  display: flex;
}

.inputdivradio {
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}

.checkpreview {
  width: 5% !important;
  height: 3% !important;
  margin-right: 0.3rem !important;
}
.hlfsize {
  width: 45% !important;
}

.documentnameDiv {
  display: flex;
  justify-content: space-between;
}
.btnActive {
  width: 140px;
  height: 35px;
  border-radius: 7px;
  color: white;
  background: #093959;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnActivecapture {
  width: 140px;
  height: 35px;
  border-radius: 7px;
  color: white;
  background: #093959;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.btnActive:hover {
  width: 140px;
  height: 35px;
  border-radius: 7px;
  color: white;
  background: #0c4367;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btndeActive {
  width: 140px;
  height: 35px;
  border-radius: 7px;
  border: 1px solid #093959;
  color: #093959;
  background: rgba(248, 247, 252, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.selectbtn {
  display: flex;
  justify-content: space-between;
  padding: 4%;
}
.msindivkitdiv {
  display: flex;
}
.inputdivimg50 {
  display: flex;
  flex-direction: column;
}
.inputdivimg60 {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.idcarddiv {
  padding: 20%;
}

.inputcreadentionals {
  display: flex;
  flex-direction: column;
}
.inputcreadentionals input {
  border: 1px solid #093959;
  border-radius: 5px;
  padding-left: 0.1rem;
  height: 34px;
  width: 17rem;
}
.mainshowresuludetails {
  padding: 1rem;
}
.monthlist {
  display: flex;
  flex-wrap: wrap;
}
.monthlist10 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}
.mainshow {
  display: flex;
}
.salarySlipMain {
  border: 1px solid #093959;
}
.salarySlipHeader {
  border-bottom: 1px solid #093959;
  margin-bottom: 1rem;
  text-align: center;
}
.salarySlippersonal {
  border-bottom: 1px solid #093959;
  margin-bottom: 1rem;
}

.tabletable {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
}

.tabletd,
.tableth {
  border: 1px solid #093959;
  text-align: center;
  padding: 8px;
}

.tabletable10 {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin-bottom: 1rem;
}

.tabletd10,
.tableth10 {
  border: 1px solid #093959;
  text-align: center;
  padding: 8px;
}
.abtn {
  color: red;
  background: white;
  font-weight: 300;
  width: 34%;
  border: 1px solid red;
  border-radius: 5px;
  margin-right: 0.5rem;
}
.abtnselected {
  color: white;
  background: red;
  font-weight: 300;
  width: 34%;
  border-radius: 5px;
  margin-right: 0.5rem;
}

.pbtn {
  color: green;
  background: white;
  font-weight: 300;
  width: 34%;
  border-radius: 1px solid green;
  border-radius: 5px;
  border: 1px solid green;
  margin-right: 0.5rem;
}

.pbtnselected {
  color: white;
  background: green;
  font-weight: 300;
  width: 34%;
  border-radius: 5px;
  margin-right: 0.5rem;
}
.mainattendhow {
  display: flex;
  flex-direction: column;
}
.commanbtn {
  color: white;
  background: yellowgreen;
  font-weight: 300;
  width: 2rem;
  border-radius: 5px;
  margin-right: 0.5rem;
  text-align: center;
}
.holdaybtn {
  color: white;
  background: yellowgreen;
  font-weight: 300;
  width: 2rem;
  border-radius: 5px;
  margin-right: 0.5rem;
  text-align: center;
}
.absentbtn {
  color: white;
  background: red;
  font-weight: 300;
  width: 2rem;
  border-radius: 5px;
  text-align: center;
  margin-right: 0.5rem;
}
.presentbtn {
  color: white;
  background: green;
  font-weight: 300;
  width: 2rem;
  border-radius: 5px;
  margin-right: 0.5rem;
  text-align: center;
}
.attendancediv {
  display: flex;
}

@media screen and (max-width: 780px) {
  .disabledinphone {
    display: none;
  }
  .verifybtndisable {
    margin-top: 0.5rem;
  }
  .verifybtntopdisable {
    width: 100%;
  }
  .inputcreadentionals input {
    width: 100%;
  }
  .mainperdiv {
    border: 1px solid #093959;
    height: 8rem;
    padding: 0.2rem;
    border-radius: 8px;
    width: 18rem;
    margin: 0.1rem;
    margin-bottom: 1rem;
  }
  .mainemployeeInfodivinnear {
    border: none;
    padding: 0%;
    margin: 0%;
  }
  .mainemployeeInfodiv {
    display: block;
  }
  .verifybtn {
    margin-top: 1rem;
    width: 100%;
  }
  .verifybtntop {
    width: 100%;
  }
  .cancelbtn {
    width: 30%;
    height: 35px;
    background: #093959;
    color: white;
    border-radius: 7px;
  }
  .McsQuestionss {
    padding: 1rem;
    padding-left: 1%;
    padding-right: 1%;
  }

  .selecttimemain {
    margin-bottom: 1rem;
  }
  .selectinnear {
    width: 47%;
  }
  .inputdiv {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .divmaininput {
    display: block;
    margin-bottom: 0.5rem;
  }

  .inputdiv input {
    width: 100%;
    height: 35px;
  }

  .inputdiv {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .inputdiv input {
    width: 100%;
    height: 35px;
  }

  .mainqinput {
    border: 0.8px solid rgb(66, 66, 66) !important;
    width: 100% !important;
    height: 35px !important;
    padding-left: 1rem !important;
    border-radius: 5px !important;
  }
  .inputdiv10 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .inputdiv10 input {
    width: 100%;
    height: 35px;
  }
  .inputdiv20 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .inputdiv20 input {
    width: 100%;
    height: 35px;
  }
  .addwidth {
    width: 100% !important;
    height: 35px !important;
  }

  .addwidthtime {
    width: 33% !important;
    height: 35px !important;
  }
}
