.featureDetailsLink{
  display: flex;
  justify-content: space-between;
}

.mainFeature{
  padding: 3rem 5rem;
  width: 100%;
  background-color: cover;
}
.mainFeature h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}
.featutecontentmain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.featutecontentmain1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.featureimg {
  width: 100%;
  object-fit: cover;
  transition: transform 400ms case-in-out;
}

.featurehead {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 0.4rem;
}

.marginset {
  margin-left: 3rem;
  width: 60%;
}
.mainhalf {
  width: 60%;
}
@media screen and (max-width: 780px) {
  .featureimg {
    width: 20rem;
    height: 13rem;
  }

  .mainFeature h1 {
    font-size: 16px;
    font-weight: 500;
    margin-top: 7%;
  }
  .mainFeature {
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 21%;
  }

  .featutecontentmain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .featutecontentmain1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .marginset {
    margin: 0.5rem;
  }

  .marginset {
  
    width: 100%;
  }
  .mainhalf {
    width: 100%;
  }
  .featurehead {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 0.4rem;
    width: 100%;
  }


}


