.Footer {
  display: flex;
  justify-content: space-between;
  background: #093959;
  padding: 3rem 5rem 1rem 5rem;
  color: #fff;
}

.FooterLogo {
  object-fit: contain;
  mix-blend-mode: color-burn;;
}

.footerIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0rem;
  gap: 1.5rem;
}

.footerIcon span {
  font-size: 25px;
  text-align: center;
  position: relative;
  overflow: hidden;
  /* padding: 0.75rem; */
  /* border-radius: 10px; */
  /* background-color: #cfc5d2; */
  /* box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1); */
  opacity: 0.99;
  
}
.footerIcon span a{
  color: #fff;
}
.footerIcon span,
.footerIcon span:before {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
  outline: 0;
}


.footerHeadingLink {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.FooterLink * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  line-height: 2rem;
  color: #fff;
}

.FooterLink li {
  /* display: inline-block; */
  list-style: outside none none;
  margin: 0.5em 0em;
  padding: 0;
}

.FooterLink a {
  padding: 0.3em 0;
  /* color: rgba(255, 255, 255, 0.5); */
  position: relative;
  text-decoration: none;
  /* display: inline-block; */
}

/* .FooterLink a:before, */
.FooterLink a:after {
  height: 3px;
  position: absolute;
  content: "";
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #7c09a9;
  width: 0;
}

.FooterLink a:before {
  top: 0;
  left: 0;
}

.FooterLink a:after {
  bottom: 0;
  right: 0;
}

/* .FooterLink a:hover:before, */
/* .FooterLink .current a:before, */
.FooterLink a:hover:after,
.FooterLink .current a:after {
  width: 100%;
}

.footerAddress {
  line-height: 2.5rem;
  cursor: pointer;
  /* font-size: 20px; */
}

.footerAddress p span {
  margin-right: 1rem;
}

.contactdetails {
  display: flex;
}

.contacticon {
  margin-right: 1rem;
  margin-top: 0.8rem;
}

.contacticon a {
  color: #fff;
}

.MainAddressDetails {
  width: 30%;
}

.MainAddressDetails h1 {
  font-size: 20px;

}

@media screen and (max-width: 1100px) {
  .Footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    font-size: 20px;
  }
}

@media screen and (max-width: 850px) {
  .Footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-content: start;
    column-gap: 0rem;
    row-gap: 3rem;
    padding: 4rem 1rem;
    font-size: 20px;
  }

  .FooterLink ul {
    display: grid;
    float: 0;
  }
}

@media screen and (max-width: 650px) {
  .Footer {
    padding: 4rem 1rem;
  }
  .lowerFooter{
    padding: 3rem 1rem;
  }
}
.lowerFooter{
  display: flex;
  justify-content: space-between;
  background: #093959;
  padding: 1rem 5rem ;
  color: #fff;
}
.policy{
  display: flex;
  gap: 2rem;
  color: #fff;
}
.spanLink{
  color: #fff;
}
.line{
  color: #fff;
  width: 100%;
  height: 1px;
}
@media screen and (max-width:850px) {
  .lowerFooter{
    padding: 2rem 1rem;
  }
}
@media screen and (max-width:850px) {
  .lowerFooter{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .policy{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}